 /* media queries */
  
  /* celular */
  
  @media screen and (max-width: 480px) {
    /*aca iria el index*/
  
    .header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .header__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero__desc {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  
    .prop__col {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
  
  /* tablet */
  @media screen and (min-width: 481px) and (max-width: 1023px) {
    .header {
      background-color: black;
      display: flex;
      flex-direction: column;
    }
  
    .prop__col {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .footer__home {
      background-color: #d46b14;
      color: black;
      text-transform: uppercase;
  
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }