.navbar{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .navbar-nav a{
        list-style: none;
        display: inline-block;
        background-color: white;
        padding: 0.4rem;
        border-radius: 0.5rem;
        margin: 0px 10px 0px 10px;
        transition: font-size 1s;
    }
    .navbar-nav a:hover{
        font-size: large;
    }
  
}